# Database
DATABASE_URL=

# Authentication
AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
ADMIN_EMAIL=

# GitHub Activity Section
GITHUB_TOKEN=
GITHUB_USERNAME=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Site
NEXT_PUBLIC_SITE_URL=
